body{
  font-size: 120%;/* pode ser %, em ou px. */
  width: 720px;
  margin: auto;/*Centralizando a página*/
  line-height: 1.5; /*Espaçamento das linhas*/
}

main h1{ /* afeta apenas os h1s dentro do main, espaço, num seletor CSS, quer dizer "dentro de", não importa o quão dentro.
portanto não é necessário especificar todas as tags entre os dois elementos, apenas as extremidades desejadas. */
  color: red;
  background-color: inherit;  /*deixa de herdar */
}

blockquote{
  padding: 16px;
  border: 10px solid #000;
  margin: 20px 40px; /* Define cima e baixo / esquerda e direita */
  width: 250px;
  float: right;
  box-sizing: border-box; /* interpreta o tamanho incluindo a borda */
}

h1 {
  font-size: 60px; /* Quando não há nenhuma fonte ou tamanho definidos em css, é exibido segundo os padrões das opções do navegador. */
  text-align: center;
  clear: both;
  font-family: "Open Sans", sans-serif;
  background-color: rgb(120, 30, 60); /* primeira forma de utilizar cores Red Green Blue */
  color: #FAFFFA; /* Segunda forma é o Red Green Blue em Hexadecimal, tornando-o mais enxuto */
} /* A terceira forma é utilizando o nome da cor como "green" ou "grey"... */
/* temos uma notação hexadecimal compacta no CSS, a cor branca pode ser '#FFF' */
/* se a cor fosse #882244, poderíamos escrevê-la como #824 */
h2{
  font-family: "Open Sans", "Arial", sans-serif; /* Ele respeita a ordem da esquerda a direita */
  clear: both;
}

p{
  text-align: justify;
  font-family: "Times New Roman", serif;
}

a{
  text-decoration: none; /* tira o sublinhado */
}

div {/*Fazendo um triangulo apenas com CSS*/
    border-bottom: 30px solid red;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    width: 0;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

aside li{
  display: inline-block;/* Enfileira o Conteúdo na mesma linha / ajusta o tamanho de acordo com a altura do conteúdo */
}

.classe1{
  font-weight: bold;
  text-transform: uppercase; /* Quando se coloca em letra maiuscula o leitor interpreta como uma sigla. */
} /*Deve-se usar classes sempre que possível, seleções muito genéricas tendem a gerar problemas.
  e o ideal é que o titulo seja relacionado ao conteúdo e não ao layout atual*/
.classe2{
  color: red;
}

.icones-sociais a {
    background-color: purple;
    width: 40px;
    height: 40px;
    display: block;
    text-indent: -99999px;
}

/* boa prática nas imagens supérfluas, pois as imagens não serão indexadas em motores de busca, apenas o texto do link */

.github {
    background-image: url(Files/github.png);
}

.twitter {
     background-image: url(Files/twitter.png);
}

.linkedin {
    background-image: url(Files/linkedin.png);
}

nav{
  float: left;
}

.clearfix {
    clear: both;
}

img {
    width: 300px;
    position: absolute;/* sai do fluxo e se posiciona sobre o conteúdo */
    top: 0;
    left: 0;
}

aside {
    position: relative; /* Se posiciona relativamente a sua antiga posição */
    top: 310px;
}

footer {
    position: fixed; /* Se fixa na tela e sai do fluxo */
    bottom: 0;
    left: 0;
}
